body {
   background-color: black;
   overflow: hidden;
   text-align: center;
}

h1 {
   color: white;
   font-family: Arial;
}

#myCanvas {
   background-color: #2a5;
}



button, .file-input-label{
   display: inline-block;
   background-color: white;
   font-size: 20px;
   padding: 5px 7px 7px 5px;
   border: none;
   border-radius: 5px;
   text-shadow: 1px 1px black;
   cursor: pointer;
}

input[type="file"] {
   display: none;
}
#osmPanel {
   position:absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: rgba(0, 0, 0, 0.7);
   padding: 5000px;          
}

#mapSelect {
   padding: 5px;
   margin-left: 5px;
   border-radius: 5px;
}

label[for="mapSelect"] {
   font-size: 20px;
   vertical-align: middle;
}

#mapDropdown {
  margin: 0 10px;
}

#mapDropdown select {
  padding: 5px;
  border-radius: 6px;
}
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; /* 在背景層 */
}

#controls {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 500; /* 在畫面上層，可互動 */
  background: rgba(255, 255, 255, 0.8); /* 可加透明背景 */
  padding: 10px;
  border-radius: 8px;
}